
<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
  <!--danger = color amarillo-->
   <!--link = color blanco-->
  <a class="navbar-brand" href="#"  > Ride <span class="text-danger">-U</span></a>
  <button class = "navbar-toggler" type = "button" data-toggle = "collapse" aria-valuenow="80" data-target = "# navbarColor04" aria-controls = "navbarColor02" aria-expanded = "false" aria-label = "Alternar navegación ">
  <span class = "navbar-toggler-icon"> </span>
  </button>

  <div class = "collapse navbar-collapse" id = "navbarColor01">
    <ul class = "navbar-nav mr-auto">
      <li class = "nav-item active">
      <a class="nav-link" href="#" routerLink="/" >Home <span class = "sr-only">  (actual) 
      </span> </a>
      </li> 
    </ul>
    <ul class = "navbar-nav mx-auto">
       <!--mx= derecha ,mr=hacia la izquierda-->
      <li class = "nav-item">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class = "nav-item">
        <a class="nav-link" href="#"routerLink="/register">Registrarse</a>
      </li>
      <li class = "nav-item">
          <a class="nav-link" href="#">Salir</a>
   
    </ul>
    
  </div>
</nav>
