
<div class="row">
  <div class="col-md-8">
    <button class="btn btn-lg btn-street"><i class="fa fa-street-view"></i>Aqui</button>
    <button class="btn btn-lg btn-map"><i class="fa fa-map"></i>Lugares mas recorridos</button>
    <button class="btn btn-lg btn-car"><i class="fa fa-car"></i>Conductor</button>
    <button class="btn btn-lg btn-sings"><i class="fa fa-map-signs"></i>Quiero un aventon </button>
  <div>
</div>
<img border="0" hspace="50" vspace="4" width=1000 height=585 
 src="https://firebasestorage.googleapis.com/v0/b/liftapp-f892f.appspot.com/o/hey%20there!.jpg?alt=media&token=9a5d021e-b841-4277-84ef-cb0d3c197e89" >
 
